@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111753;
    gap: 50px;
}

h1 {
    font-size: 72pt;
    font-family: "Open Sans";
    font-weight: lighter;
    color: white;
}

button {
    background-image: linear-gradient(to bottom, blue, white);
    border-radius: 75px;
    width: 200px;
    height: 100px;
    font-family: "Open Sans";
    font-size: 12pt;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 5px black;
}

#name-input {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #ffffff40;
    outline: none;
    font-family: "Open Sans";
    font-size: 14pt;
    border-radius: 30px;
    padding: 10px;
    color: white;
}

a {
    font-family: "Open Sans";
    color: #468cdc;
}