<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Mikita chatbot</title>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="stylesheets/chatbot/intro.css"/>
</head>

<body>
    <h1>Olá</h1>
    <input type="text" id="name-input" placeholder="Digite seu nome..."/>
    <button onclick="enterConversation()">Começar a conversar</button>
    <script src="/script/chatbot/intro.js"></script>
    <a href="https://github.com/Sergio-Luis20">https://github.com/Sergio-Luis20</a>
</body>

</html>